.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
}

:root {
  --primary: #124715;
  --secondary: #8b9f83;
  --dark: #7ebf7b;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}

.display {
  text-align: right;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.display span {
  font-size: 14px;
  margin-right: 10px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 16px;
}

button:hover {
  opacity: 0.9;
  background-color: var(--secondary);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.keypad .operator {
  background-color: var(--dark);
  font-weight: 700;
}

.keypad .operator:hover {
  background-color: var(--secondary);
}
